body{
    background-color: rgb(44, 44, 44);
    color:aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    background-image: url(https://mobimg.b-cdn.net/v3/fetch/1b/1b7ac7fb289a684dcd40f3d5234ea901.jpeg);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{
    display: inline-block;
    margin: 20px;
} 

a{
    color: aliceblue;
}
a:hover{
    color: rgb(107, 94, 143);
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

img{
    width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

p{
    max-width: 500px;
    line-height: 30px;
}
input{
    margin-top: 20px;
    height: 20px;
    border-radius: 15px;
    font-style: 15px;
    padding: 15px;
}

#btn-enviar{
    background-color: rgb(39, 39, 39);
    height: 50px;
    width: 50%;
    color:aliceblue;
    font-size: large;
}

#btn-enviar:hover{
    cursor:pointer;
} 